<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <style>
        .full-height {height: 100vh;}
    </style>
</head>

<body>
<div class="container-fluid full-height d-flex flex-column vh-100 p-0">
    <div class="row no-gutters">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand font-weight-bold" id="userEmail"></a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">with roles:
                                <span id="userRoles"></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/logout}">Logout <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row no-gutters flex-grow-1">
        <div class="col-md-2 mt-3 p-0 m-0">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                   role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-md-10 bg-light pl-4 p-3">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Панель админа -->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1>Admin Panel</h1>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                               href="#nav-home" role="tab" aria-controls="nav-home"
                               aria-selected="true">Users Table</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                               href="#nav-profile" role="tab" aria-controls="nav-profile"
                               aria-selected="false">Add New User</a>
                        </div>
                    </nav>
                    <div class="row no-gutters border">
                        <div class="col-md-12">
                            <div class="tab-content" id="nav-tabContent">
                                <!-- Таблица юзеров -->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <h4 class="ml-3 my-3">All Users</h4>

                                    <div class="row no-gutters border" style="background-color: white">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table mx-3 mt-4 mb-4 table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Surname</th>
                                                        <th>Department</th>
                                                        <th>Salary</th>
                                                        <th>Roles</th>
                                                        <th>Email</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="allUsersBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Добавить -->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <div class="row no-gutters border">
                                        <div class="col-md-12 pl-3 p-2">
                                            <h2>Add New User</h2>
                                        </div>
                                    </div>

                                    <div class="row no-gutters border">
                                        <div class="col-md-12" style="background-color: white">
                                            <form id="newUserForm" action="#" method="post">
                                                <div class="form-row justify-content-md-center p-3">
                                                    <div class="col-4 text-center">
                                                        <label><strong>Name</strong></label>
                                                        <input type="text" class="form-control" id="username2"
                                                               name="username" required>
                                                        <br>
                                                        <label><strong>Surname</strong></label>
                                                        <input type="text" class="form-control" id="surname"
                                                               name="surname" required>
                                                        <br>
                                                        <label><strong>Department</strong></label>
                                                        <input type="text" class="form-control" id="department"
                                                               name="department" required>
                                                        <br>
                                                        <label><strong>Salary</strong></label>
                                                        <input type="number" class="form-control" id="salary"
                                                               name="salary" required>
                                                        <br>
                                                        <label><strong>Password</strong></label>
                                                        <input type="password" class="form-control" id="password"
                                                               name="password" required>
                                                        <br>
                                                        <label><strong>Email</strong></label>
                                                        <input type="email" class="form-control" id="email"
                                                               name="email" required>
                                                        <br>
                                                        <label for="roles"><strong>Role</strong></label>
                                                        <select multiple class="form-control" size="2" id="roles"
                                                                name="rolesId" required>
                                                            <option value="1">USER</option>
                                                            <option value="2">ADMIN</option>
                                                        </select>
                                                        <br>
                                                        <button type="submit" class="btn btn-success btn-lg">Add
                                                            New User
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Таблица юзера -->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <h1>
                        User Information Page
                    </h1>
                    <div class="row mt-3 mr-2 mx-1 border">
                        <div class="col-md-12 pl-4 p-2" style="background-color: gainsboro">
                            <h4>About User</h4>
                        </div>
                    </div>
                    <div class="row mr-2 mx-1 border" style="background-color: white">
                        <div class="col-md-12">
                            <table class="table mx-3 mt-4 mb-4 table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Department</th>
                                    <th>Salary</th>
                                </tr>
                                </thead>
                                <tbody id="oneUserBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Редактировать -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="editUserForm" action="#" method="post">
                    <input type="hidden" name="id" id="idRed"/>
                    <div class="form-group">
                        <label><strong>Name</strong></label>
                        <input type="text" class="form-control" id="usernameRed" name="username"
                               required/>
                    </div>
                    <div class="form-group">
                        <label><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="surnameRed" name="surname"
                               required/>
                    </div>
                    <div class="form-group">
                        <label><strong>Department</strong></label>
                        <input type="text" class="form-control" id="departmentRed"
                               name="department" required/>
                    </div>
                    <div class="form-group">
                        <label><strong>Salary</strong></label>
                        <input type="number" class="form-control" id="salaryRed" name="salary"
                               required/>
                    </div>
                    <div class="form-group">
                        <label><strong>Password</strong></label>
                        <input type="password" class="form-control" id="passwordRed"
                               name="password" />
                    </div>
                    <div class="form-group">
                        <label><strong>Email</strong></label>
                        <input type="email" class="form-control" id="emailRed" name="email"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="rolesRed"><strong>Role</strong></label>
                        <select multiple class="form-control" id="rolesRed" size="2" name="rolesId"
                                required>
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Удалить -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="deleteUserForm" action="#" method="post">
                    <input type="hidden" name="id" id="idDel"/>
                    <div class="form-group">
                        <label><strong>Name</strong></label>
                        <input type="text" class="form-control" id="usernameDel" name="username"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="surnameDel" name="surname"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label><strong>Department</strong></label>
                        <input type="text" class="form-control" id="departmentDel"
                               name="department" readonly/>
                    </div>
                    <div class="form-group">
                        <label><strong>Salary</strong></label>
                        <input type="number" class="form-control" id="salaryDel" name="salary"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label><strong>Email</strong></label>
                        <input type="email" class="form-control" id="emailDel" name="email"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label for="rolesDel"><strong>Role</strong></label>
                        <select multiple class="form-control" id="rolesDel" size="2" name="rolesId"
                                required disabled>
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeDeleteModal" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>
</body>
</html>
